{% extends 'base.html.twig' %}
{% block body %}



<a class="btn btn-danger edit" id="editplay" onclick='wig()'>Edit</a>
<a class="btn btn-danger edit" id="editstop" onclick='wig_stop()'>Stop</a>

    {#<div class="card card-1">#}
        {#<div class="headercard">#}
            {#<p>Ajouter Une Liste</p>#}
        {#</div>#}
        {#<div class="contentcard">#}
            {#<p onclick='div_show()'>+</p>#}
        {#</div>#}
    {#</div>#}


<div class="col-md-8 col-md-push-2 adddivrem">
    <img onclick='div_show()' class="add" src="{{ asset('img/add.png') }}">
</div>

<div class="content col-md-10 col-md-push-1">


    <form method="post" id="contactForm">
        <a onclick='div_hide()' class="fa fa-times close"></a><br/>
        Nom<input type="text" name="nom">
        Photo<input type="text" name="photo">
        <input class="formBtn" type="submit" />
    </form>

    {% for list in liste %}

        <div class="card card-1">
            <div class="headercard">
                <a id="edit" class="fa fa-pencil-square-o" href="{{ path('edit',{'liste': list.id}) }}" ></a>
                <a id="delete" class="fa fa-minus-circle"  href="{{ path('delete',{'liste': list.id}) }}"></a>
                <a href="{{ path('article',{'liste': list.id}) }}"><p> {{ list.nom }}</p></a>
                <small><p class="time">{{ list.date|date("Y-m-d H:i:s")}}</p></small>
            </div>
            <div class="contentcard">
                <img src="{{ list.photo }}"/>
                <a href="{{ path('share',{'liste': list.id}) }}" class="fa fa-share-alt-square share"></a>
            </div>
        </div>

    {% endfor %}

    </div>



<script>

    function wig() {
        $('.card').wiggle('start');
        document.getElementById('delete').style.display = "block";
        document.getElementById('edit').style.display = "block";
        document.getElementById('editplay').style.display = "none";
        document.getElementById('editstop').style.display = "block";
    };

    function wig_stop() {
        $('.card').wiggle('stop');
        document.getElementById('delete').style.display = "none";
        document.getElementById('edit').style.display = "none";
        document.getElementById('editplay').style.display = "block";
        document.getElementById('editstop').style.display = "none";
    };

    function div_show() {
        document.getElementById('contactForm').style.display = "block";
    };
    function div_hide(){
        document.getElementById('contactForm').style.display = "none";
    };



</script>
{% endblock %}
