{% extends 'base.html.twig' %}
{% block body %}

<a class="btn btn-danger edit" onclick='wig()'>edit</a>

    {#<div class="card card-1">#}
        {#<div class="headercard">#}
            {#<p>Ajouter Une Liste</p>#}
        {#</div>#}
        {#<div class="contentcard">#}
            {#<p onclick='div_show()'>+</p>#}
        {#</div>#}
    {#</div>#}

<div class="content col-md-10 col-md-push-1">
            <img onclick='div_show()' class="add" src="{{ asset('img/add.png') }}">


    <form method="post" id="contactForm">
        <a onclick='div_hide()'>Fermer</a>
        Nom<input type="text" name="nom">
        Photo<input type="text" name="photo">
        <input class="formBtn" type="submit" />
    </form>


    {% for list in liste %}

        <div class="card card-1">
            <div class="headercard">
                <a id="delete" class="fa fa-minus-circle"  href="{{ path('delete',{'id': list.id}) }}"></a>
                <a href="{{ path('article',{'liste': list.id}) }}"><p> {{ list.nom }}</p></a>
                <small><p class="time">{{ list.date|date("Y-m-d H:i:s")}}</p></small>
            </div>
            <div class="contentcard">
                <img src="{{ list.photo }}"> </img>
            </div>
        </div>

    {% endfor %}

    </div>



<script>

    function wig() {
        $('.card').wiggle('start');
        document.getElementById('delete').style.display = "block";
    };

    function wig_stop() {
        $('.card').wiggle('stop');
        document.getElementById('delete').style.display = "none";
    };

    function div_show() {
        document.getElementById('contactForm').style.display = "block";
    };
    function div_hide(){
        document.getElementById('contactForm').style.display = "none";
    };




</script>


</script>
{% endblock %}
