{% extends "base.html.twig" %}

{% block body %}


    <a class="btn btn-danger edit" id="editplay" onclick='wig()'>Edit</a>
    <a class="btn btn-danger edit" id="editstop" onclick='wig_stop()'>Stop</a>

    <div class="col-md-8 col-md-push-2 adddivrem">
        <img onclick='div_show()' class="add" src="{{ asset('img/add.png') }}">
    </div>

    <div class="content col-md-10 col-md-push-1">

        {% for list in listeshare %}

            <div class="card card-1">
                <div class="headercard">
                    <a id="edit" class="fa fa-pencil-square-o" href="{{ path('edit',{'liste': list.0.id}) }}" ></a>
                    <a id="delete" class="fa fa-minus-circle"  href="{{ path('delete',{'liste': list.0.id}) }}"></a>
                    <a href="{{ path('article',{'liste': list.0.id}) }}"><p> {{ list.0.nom }}</p></a>
                    <small><p class="time">{{ list.0.date|date("Y-m-d H:i:s")}}</p></small>
                </div>
                <div class="contentcard">
                    <img src="{{ list.0.photo }}"/>
                   {# <a href="{{ path('share',{'liste': list.0.id}) }}" class="fa fa-share-alt-square share"></a>#}
                </div>
            </div>

        {% endfor %}

    </div>

    <script>

        function wig() {
            $('.card').wiggle('start');
            document.getElementById('delete').style.display = "block";
            document.getElementById('edit').style.display = "block";
            document.getElementById('editplay').style.display = "none";
            document.getElementById('editstop').style.display = "block";
        }

        function wig_stop() {
            $('.card').wiggle('stop');
            document.getElementById('delete').style.display = "none";
            document.getElementById('edit').style.display = "none";
            document.getElementById('editplay').style.display = "block";
            document.getElementById('editstop').style.display = "none";
        }

        function div_show() {
            document.getElementById('contactForm').style.display = "block";
        }
        function div_hide(){
            document.getElementById('contactForm').style.display = "none";
        }



    </script>

{% endblock %}
