{% extends "::base.html.twig" %}

{% block body %}

{% for list in listeshare %}
    <div class="col-md-8 col-md-push-2 adddivrem">
    </div>
<div class="content col-md-10 col-md-push-1">
    <div class="card card-1">
        <div class="headercard">
            <a id="edit" class="fa fa-pencil-square-o" href="{{ path('edit',{'liste': list.0.id}) }}" ></a>
            <a id="delete" class="fa fa-minus-circle"  href="{{ path('delete',{'liste': list.0.id}) }}"></a>
            <a href="{{ path('article',{'liste': list.0.id}) }}"><p> {{ list.0.nom }}</p></a>
            <small><p class="time">{{ list.0.date|date("Y-m-d H:i:s")}}</p></small>
        </div>
        <div class="contentcard">
            <img src="{{ list.0.photo }}"/>
            <a href="{{ path('share',{'liste': list.0.id}) }}" class="fa fa-share-alt-square share"></a>
        </div>
    </div>

</div>
{% endfor %}
{% endblock %}
