{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ liste.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ liste.nom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if liste.date %}{{ liste.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ liste.photo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('liste_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('liste_edit', { 'id': liste.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
